* {
    font-family: Poppins, "Regular";
    margin: 0%;
}

.geral {
    display: flex;
    flex-direction: row;
}

.loginTotem {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.cadastroTotem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("image");
}